* {
    margin: 0;
    padding: 0;
}
body{
    height: 100h;
    background-color: rgba(255, 255, 255, 0);
    background: url(bg/bg3.jpg);
    background-size: cover;
    font-family: montserrat;
    scroll-behavior: s;
}

/* CONTAINER */

.reservation-form {
    max-width: 800px;
    margin: 100px auto; /* Tambahkan margin atas yang lebih besar */
    padding: 30px;
    background-color: #2828287e;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.reservation-form h1 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
.reservation-form .form-label {
    font-weight: bold;
}
.btn-custom {
    background-color: #2828287e;
    color: white;
}
.btn-custom:hover {
    background-color: #2828287e;
}
.form-select {
    border-radius: 5px;
}
.form-control {
    border-radius: 5px;
}

.form-label {
    color: rgb(255, 255, 255);
}
@media (max-width: 767px) {
    .reservation-form {
        margin: 40px; /* Margin untuk layar kecil */
        padding: 20px;
    }
}

/* NAVBAR */
.logo{
    font-size: 25px;
    font-weight: bolder;
    font-family: Montserrat;
}
nav{
    background-color: #2828287e;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    font-size: 23px;
    border-radius: 3rem;
    width: 70%;
    bottom: 87%;
    left: 15%;
    position: fixed;
    display: flex;
    align-items: center;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 75px;
}
nav a{
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    
}
nav a:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
    transform: scale(0.9);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}
nav li:first-child{
    margin-right: 5%;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
@media(max-widht: 800px){
    .hideOnMobile{
        display: none;
    }
}
@media (max-width: 922px) {
    nav .links,
    nav .action_btn {
        display: none;
    }

    nav .toggle_btn {
        display: block;
    }
}

/*homepage */



/* FOOTER */

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #282828;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 30px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 24px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #f8f8f8;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}